{% extends 'base.html.twig' %}

{% block title %}SchoolStop index{% endblock %}

{% block body %}
<div class="container">
    <h1>Je donne</h1>
    <br>
    {% if app.session.get('user') %}
        {% for role in app.session.get('user').MemberRole %}
            {% if role.id ==  "6" %}
            <br>
            {% endif %}
        {% endfor %}
    {% else %}
     <div class="row">
        <div class="col-lg-6 mb-6">
            <img src={{ asset('images/Gaspillage_vestimentaire.png')}} height="300px"/>
        </div>
        <div class="col-lg-6 mb-6">
            <p>Vous ne savez plus quoi faire des vêtements trop petits de vos enfants ? Vous n'avez pas le temps de faire le tri, de les déposer aux containers, de vous occcuper de les revendre ...<P>
            {# <br> #}
            <p>Nous vous proposons de les récupérer, à un endroit pratique pour vous : le parking de l'école de vos enfants. </p>
            <p>Des tournées sont régulièrment organisées sur les parkings des écoles de Castelnau le lez, Jacou et Le Crès.<p>
            <br>
        </div>
    </div>
    {% endif %}
    <br>
    <h2>Liste des tournées écoles</h2>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Date</th>
                <th>Ecole</th>
                <th>Ville</th>
                    {% if app.session.get('user') %}
                        {% for role in app.session.get('user').MemberRole %}
                            {% if role.id ==  "6" %}
                            <th>Actions</th>
                            {% endif %}
                        {% endfor %}
                    {% endif %} 
            </tr>
        </thead>
        <tbody>
        {% for school_stop in school_stops %}
            <tr>
                {# <td>{{ school_stop.id }}</td> #}
                <td>{{ school_stop.schoolStopDate ? school_stop.schoolStopDate|date('Y-m-d H:i') : '' }}</td>
                <td>{{ school_stop.schoolStopSchool.SchoolName}}</td>
                <td>{{ school_stop.schoolStopSchool.SchoolCity}}</td>
                    {% if app.session.get('user') %}
                        {% for role in app.session.get('user').MemberRole %}
                            {% if role.id ==  "6" %}
                            <td>
                                <a href="{{ path('school_stop_show', {'id': school_stop.id}) }}">show</a>
                                <a href="{{ path('school_stop_edit', {'id': school_stop.id}) }}">edit</a>
                            </td>
                            {{ include('member/_delete_form.html.twig') }}
                            {% endif %}
                        {% endfor %}
                    {% endif %} 
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune tournée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.session.get('user') %}
        {% for role in app.session.get('user').MemberRole %}
            {% if role.id ==  "6" %}
            <br>
            {% endif %}
        {% endfor %}
    {% else %}
        <br>
            <p>Nous donner vos vêtements vous permettra de donnez "utile" car vos dons serviront à contribuer au recyclage vestimentaire et à l'emploi local. </p>
            <p>Vous gagnerez aussi des "boutons", monnaie d'éachange pour acquérir d'autres vêtements.<p>
        <br>
    {% endif %}

    {% if app.session.get('user') %}
        {% for role in app.session.get('user').MemberRole %}
            {% if role.id ==  "6" %}
            <a href="{{ path('school_stop_new') }}">Créer une tournée</a>
            {{ include('member/_delete_form.html.twig') }}
            {% endif %}
        {% endfor %}
    {% endif %} 
    
</div>
{% endblock %}