{% extends 'base.html.twig'%}

{% block body %}


<h1>Menu ADMIN : </h1>

<ul>
 <li>Article :
    <a href="{{ path('article_index') }}">voir la liste</a> 
</li>
 <li>Membre :
    <a href="{{ path('membre_index') }}">voir la liste</a> 
</li>
<li>Sac de dons :
    <a href="{{ path('donationBag_index') }}">voir la liste</a> 
</li>
<li>Sac de livraisosn :
    <a href="{{ path('deliveryBag_index') }}">voir la liste</a> 
</li>
<li>Tournée Ecoles :
    <a href="{{ path('schoolStop_index') }}">voir la liste</a> 
</li>
<li>Atelier :
    <a href="{{ path('workshop_index') }}">voir la liste</a> 
</li>
<li>News :
    <a href="{{ path('news_index') }}">voir la liste</a> 
</li>

{% endblock %}