{% extends 'base.html.twig' %}

{% block title %}Delivery index{% endblock %}

{% block body %}
    <h1>Delivery index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Delivery_type</th>
                <th>Delivery_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.id }}</td>
                <td>{{ delivery.delivery_type }}</td>
                <td>{{ delivery.delivery_date ? delivery.delivery_date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('delivery_show', {'id': delivery.id}) }}">show</a>
                    <a href="{{ path('delivery_edit', {'id': delivery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('delivery_new') }}">Create new</a>
{% endblock %}