{% extends 'base.html.twig' %}

{% block title %}Workshop{% endblock %}

{% block body %}
    <h1>Workshop</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workshop.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ workshop.workshopDate ? workshop.workshopDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Thème</th>
                <td>{{ workshop.workshopTheme }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ workshop.workshopFee }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ workshop.workshopPlace }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ workshop.workshopPicture }}</td>
            </tr>
            <tr>
                <th>Formateur</th>
                <td>{{ workshop.workshopTrainer.MemberSurname }}  {{ workshop.workshopTrainer.MemberName }}</td>
            </tr>
            {% if app.session.get('user') and app.session.get('user').MemberRole is same as(6) %}
                <tr>
                <th>Participants</th>
                {% for trainee in workshop.workshopTraineesList %}
                <td>{{trainee.MemberSurname}} {{trainee.MemberName}}</td>
                {% endfor %}
                </tr>
            {% endif %}
            
        </tbody>
    </table>
    <br>
    <a href="{{ path('workshop_index') }}">Retour à la liste</a>
    <br>
    {% if app.session.get('user') and app.session.get('user').MemberRole is same as(6) %}
    <a href="{{ path('workshop_edit', {'id': workshop.id}) }}">modifier</a>
    <br>
    {{ include('workshop/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}