{% extends 'base.html.twig' %}

{% block title %} Sac de don{% endblock %}

{% block body %}
    <h1>Sac de don</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ donation_bag.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ donation_bag.donationBagDate ? donation_bag.donationBagDate|date('m-d-Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('donation_bag_index') }}">Retour à la liste</a>

    <br>
    
    {% if app.session.get('user') %}
        {% for role in app.session.get('user').MemberRole %}
            {% if role.id ==  "6" %}
            <a href="{{ path('donation_bag_edit', {'id': donation_bag.id}) }}">Modifier</a>
            <br>
            {{ include('donation_bag/_delete_form.html.twig') }}
            {% endif %}
        {% endfor %}
    {% endif %}    

{% endblock %}