{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
    <h1>News index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Source</th>
                <th>Lien</th>
                <th>Image</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.news_title }}</td>
                <td>{{ news.news_source }}</td>
                <td>{{ news.news_url }}</td>
                <td>{{ news.news_picture }}</td>
                <td>{{ news.news_content }}</td>
                <td>{{ news.news_editDate ? news.news_editDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('news_show', {'id': news.id}) }}">voir</a>
                    <a href="{{ path('news_edit', {'id': news.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune news trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_new') }}">Créer une nouvelle news</a>
{% endblock %}