{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ news.news_title }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ news.news_source }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ news.news_url }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ news.news_picture }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ news.news_content }}</td>
            </tr>
            <tr>
                <th>Date de parution</th>
                <td>{{ news.news_editDate ? news.news_editDate|date('m-d-Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('news_index') }}">Retour à la liste</a>

    <br>
    {% if app.session.get('user') %}
        {% for role in app.session.get('user').MemberRole %}
            {% if role.id ==  "6" %}
            <a href="{{ path('news_edit', {'id': news.id}) }}">Modifier</a>
            <br>
            {{ include('news/_delete_form.html.twig') }}
            {% endif %}
        {% endfor %}
    {% endif %} 

{% endblock %}