(% extends 'base.html.twig'%)

{% block body %}


<h1>Modifiez votre profil</h1>

<form action="/member/update/id" method="post">

    <label for="memberName">Nom</label>
    <input type="text" id="memberName" name="memberName" placeholder="{{member.name}}">

    <label for="memberSurame">Prénom</label>
    <input type="text" id="memberSurame" name="memberSurame" placeholder="{{member.surname}}">

    <label for="memberAddress1">Adresse</label>
    <input type="text" id="memberAddress1" name="memberAddress1" placeholder="{{member.address1}}">

    <label for="memberAddress2">Adresse (complément)</label>
    <input type="text" id="memberAddress2" name="memberAddress2" placeholder="{{member.address2}}">

    <label for="memberZipCode">Code Postal</label>
    <input type="text" id="memberZipCode" name="memberZipCode" placeholder="{{member.zipCode}}">

    <label for="memberCity">Ville</label>
    <input type="text" id="memberCity" name="memberCity" placeholder="{{member.city}}">

    <label for="memberTel">Téléphone</label>
    <input type="text" id="memberTel" name="memberTel" placeholder="{{member.tel}}">

    <label for="memberEmail">Email</label>
    <input type="email" id="memberEmail" name="memberEmail" placeholder="{{member.email}}">

    <label for="memberPassWord">Mot de passe</label>
    <input type="text" id="memberPassWord" name="memberPassWord" placeholder="{{member.password}}">

// comment afficher l'option choisie ?
    <label for="memberSubscrption">Souhaitez vous recevoir la newsletter ?</label>
    <input type="radio" id="memberSubscrption" name="memberSubscrption" value="oui">
    <input type="radio" id="memberSubscrption" name="memberSubscrption" value="non">

    <label for="memberExpertise">Compétence que vous pouriez apporter à l'association</label>
    <input type="text" id="mmemberExpertise" name="memberExpertise" placeholder="{{member.expertise}}">

// comment afficher le niveau sur le schéma RANGE
    <label for="memberLevel">Niveau en couture</label>
    <input type="range" id="memberLevel" name="memberLevel" placeholder="{{member.level}}">

      // rajouter une section KIDS

    <input type="submit" value="MODIFIER MON PROFIL">

/ VERIFIER SI ECRITURE TWIG EST CORRECTE/ Comment gérer le unset ?

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

// message = <p>Bienvenue {{ member.surname }}! Votre profil a bien été modifié.</p>
    
</form>

{% endblock %}