{% extends 'base.html.twig' %}

{% block title %}School{% endblock %}

{% block body %}
    <h1>School</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ school.id }}</td>
            </tr>
            <tr>
                <th>Nom de l'école</th>
                <td>{{ school.schoolName }}</td>
            </tr>
            <tr>
                <th>Adresse </th>
                <td>{{ school.schoolAddress1 }}</td>
            </tr>
            <tr>
                <th>Adresse (complément)</th>
                <td>{{ school.schoolAddress2 }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ school.schoolZipCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ school.schoolCity }}</td>
            </tr>
            <tr>
                <th>Directeur/Directrice</th>
                <td>{{ school.schoolDirectorGender }}</td>
            </tr>
            <tr>
                <th>Nom du directeur/directrice</th>
                <td>{{ school.schoolDirectorName }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ school.schoolDirectorTel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ school.schoolDirectorEmail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('school_index') }}">Retour à la liste</a>

    <br>
    {% if app.session.get('user') and app.session.get('user').MemberRole is same as(6) %}
    <a href="{{ path('school_edit', {'id': school.id}) }}">Modifier</a>
    <br>
    {{ include('school/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}