{% extends 'base.html.twig' %}

{% block title %}School{% endblock %}

{% block body %}
    <h1>School</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ school.id }}</td>
            </tr>
            <tr>
                <th>School_name</th>
                <td>{{ school.schoolName }}</td>
            </tr>
            <tr>
                <th>School_address1</th>
                <td>{{ school.schoolAddress1 }}</td>
            </tr>
            <tr>
                <th>School_address2</th>
                <td>{{ school.schoolAddress2 }}</td>
            </tr>
            <tr>
                <th>School_zip_code</th>
                <td>{{ school.schoolZipCode }}</td>
            </tr>
            <tr>
                <th>School_city</th>
                <td>{{ school.schoolCity }}</td>
            </tr>
            <tr>
                <th>School_director_gender</th>
                <td>{{ school.schoolDirectorGender }}</td>
            </tr>
            <tr>
                <th>School_director_name</th>
                <td>{{ school.schoolDirectorName }}</td>
            </tr>
            <tr>
                <th>School_director_tel</th>
                <td>{{ school.schoolDirectorTel }}</td>
            </tr>
            <tr>
                <th>School_director_email</th>
                <td>{{ school.schoolDirectorEmail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('school_index') }}">back to list</a>

    <a href="{{ path('school_edit', {'id': school.id}) }}">edit</a>

    {{ include('school/_delete_form.html.twig') }}
{% endblock %}