{% extends 'base.html.twig' %}

{% block title %}Je trouve{% endblock %}

{% block body %}

<div class="container">
    <h1>Je trouve</h1>
    <p>Grâce à vos points sur votre cagnotte et 1€ par vêtement, ou bien pour quelques €, achetez des vêtements de seconde main, en parfait état ! </p>

        <div class="row">
            <div class="col-md-3">
                {% if app.session.get('user') %}
                    <h2>Préselection</h2>
                    <form action="/article/selection" method="post" class="form-group">
                    <select name="preselectionKid" id="preselectionKid" class="form-control dropdown">
                        {% for kid in app.session.get('user').memberKidList %}
                            {% if kid.kidAge > 12 %}
                            {% set age=(kid.kidAge/12) %}
                            <option value="{{kid.id}}">Sélection pour {{kid.kidSurname}} - {{age|round}} ans - Taille {{kid.kidSizeCode}}</option>
                            {% else %} #}
                            <option value="{{kid.id}}">Sélection pour {{kid.kidSurname}} - {{kid.kidAge}} mois - Taille {{kid.kidSizeCode}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <input type="submit" value="VOIR">
                    <br>
                    </form>
                {% endif %}
                <h2>Filtres</h2>
                <form action="/article/selection" method="post" class="form-group">
                    {# A FINIR
                    Voir comment transformer les selects en dropdown choix multiple #}
                    <label for="selectionGender">Sexe(s)</label>
                    <select name="selectionGender[]" id="selectionGender" class="form-control mdb-select">
                        {% for gender in genders %}
                        <option value="{{gender.id}}">{{gender.genderName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="selectionSize">Taille(s)</label>
                    <select name="selectionSize[]" id="selectionSize" multiple="true" expanded="false" class="form-control mdb-select">
                        {% for size in sizes %}
                        <option value="{{size.id}}">{{size.sizeName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="selectionType">Type(s) de vêtement</label>
                    <select name="selectionType[]" id="selectionType" multiple="multiple" class="form-control mdb-select">
                        {% for type in types %}
                        <option value="{{type.id}}">{{type.typeName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="selectionSeason">Saison(s)</label>
                    <select name="selectionSeason[]" id="selectionSeason" multiple="multiple" class="form-control mdb-select">
                        {% for season in seasons %}
                        <option value="{{season.id}}">{{season.seasonName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="selectionColor">Couleur(s)</label>
                    <select name="selectionColor[]" id="selectionColor" multiple="multiple" class="form-control mdb-select">
                        {% for color in colors %}
                        <option value="{{color.id}}">{{color.colorName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="selectionBrand">Marque(s)</label>
                    <select name="selectionBrand[]" id="selectionBrand" multiple="multiple" class="form-control mdb-select">
                        {% for brand in brands %}
                        <option value="{{brand.id}}">{{brand.brandName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="selectionWearStatus">Etat usure(s)</label>
                    <select name="selectionWearStatus[]" id="selectionWearStatus" multiple="multiple" class="form-control mdb-select">
                        {% for wearStatus in wearStatuss %}
                        <option value="{{wearStatus.id}}">{{wearStatus.wearStatusName}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="FILTRER">
                    <br>
                </form>
                <a href="{{path('article_selection')}}">Revoir tout le catalogue </a>
            </div>
            <br> 
            <div class="col-md-9">
                <h1>Liste des articles</h1>
                    <div class="row">
                        {% for article in articles %}
                        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="{{ asset('uploads/pictures/' ~ article.articlePicture1)}}" alt=""></a>
                                <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.articleType.TypeName }} - {{ article.articleGender.GenderName }} - {{ article.articleSize.SizeName }}</a>
                                </h5>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <p>Aucun article trouvé</p>
                        {% endfor %}
                    </div>
            </div>
        </div>
</div>
{% endblock %}

{% block javascripts %}

    <!--[if lt IE 9]>
    <script type="text/javascript" src="assets/js/jquery-1.12.4.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="http://127.0.0.1:8000/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!--<![endif]-->
{# NE FONCTIONNE PAS #}
    <script>
        $(document).ready(function() {
            $('.mdb-select').material_select();
         });
    
    </script>
{% endblock %}

    {# <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> #}
