{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Fiche Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Catégorie :</th>
                <td>{{ article.articleType.typeName }}</td>
            </tr>
            <tr>
                <th>Sexe:</th>
                <td>{{ article.articleGender.genderName }}</td>
            </tr>
            <tr>
                <th>Saison</th>
                {% for season in article.articleSeason %}
                <td>{{ season.seasonName }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ article.articleSize.sizeName }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ article.articleBrand.brandName }}</td>
            </tr>
            <tr>
                <th>Photo 1</th>
                <td>{{ article.articlePicture1 }}</td>
            </tr>
            <tr>
                <th>Photo 2</th>
                <td>{{ article.articlePicture2 }}</td>
            </tr>
            <tr>
                <th>Photo 3</th>
                <td>{{ article.articlePicture3 }}</td>
            </tr>
            <tr>
                <th>Etat d'usure</th>
                <td>{{ article.articleWearStatus.wearStatusName }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                {% for color in article.articleColor %}
                <td>{{ color.colorName }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Valeur (boutons)</th>
                <td>{{ article.articleButtonValue }}</td>
            </tr>
            <tr>
                <th>Valeur (euros)</th>
                <td>{{ article.articleEurosValue }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ article.articleComments }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('delivery_bag_addToCart', {'id': article.id}) }}">Ajouter à mes trouvailles</a>
    {# <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a> #}

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}

